/****************
* COMMONS
*****************/
div.clear {clear:both;}
.justify {text-align: justify;}
.center {text-align: center;}
.right {text-align: right;}
.bold {font-weight:bold; font-family:"Neutra Bold";}
.noBold{font-weight:normal;}
.upperCase{text-transform:uppercase;}
.italic{font-style:italic; font-family:"Neutra Italic";}
.boldItalic {font-family:"Neutra Bold Italic";}
/****************
* REALTIME
*****************/

#realtime {}
#realtime .part1 h2{font-size:110px; color:black; line-height:110px; margin:10px 0 -150px 0;}
#realtime .part1 img#chrono {margin:-180px -30px -120px 730px; }
#realtime .part1 .pdf {margin:-280px 0 0 950px;}
#realtime .part1 #barre {height:580px; margin:-120px 0 -110px 0;}
#realtime .part1 #chiffre {margin-top:-600px;}
#realtime .part1 p {font-size:40px; margin-top:-35px; line-height:40px;}

#realtime .part2 {margin-left:-1620px;}
#realtime .part2 div h4{font-size:30px; margin:200px 0 0 -100px; color:#00FFFF;}
#realtime .part2 div h3{font-size:130px; background:none; padding:0; border:none; margin:53px 0 30px 2px; color:black;}
#realtime .part2 div p{background:none; padding:0; border:none; color:black;}
#realtime .part2 .justify {width:250px;}
#realtime .part2 .marge {margin-bottom:40px;}
#realtime .part2 img#apple {margin:-260px 0 0 300px;}
#realtime .part2 img#element {margin:-400px 0 60px 270px;}
#realtime .part2 img#plus {margin:-450px 0 110px 320px;}
#realtime .part2 h2{color:white; font-size:50px; margin:10px 0 30px 40px;}
#realtime .part2 h3{color:#FFA500; font-size:40px; margin:0 0 30px 10px;}
#realtime .part2 p.trop{color:white; font-size:25px; margin-left:-20px;}
#realtime .part2 img#fleche {margin:-205px 0 0 -130px;}

#realtime .part4 {margin:-540px 0 0 0; width:1000px;}
#realtime .part4 img#pointilles {width:620px;margin: 0 -475px -80px 352px;}
#realtime .part4 img#coeur {margin:-50px 0 -70px -300px;}
#realtime .part4 p.center{color:white; margin:10px 0 -10px 282px; font-size:11px;width:150px;}
#realtime .part4 h3{color:white; font-size:50px; margin:-150px 0 0 308px;}
#realtime .part4 .clear{margin: -50px 0 0 530px;}
#realtime .part4 .plus{width:60px;}
#realtime .part4 #logos{width:440px; margin:-90px 0 0 -187px;}
#realtime .part4 #icones {width:428px; margin:0 0 0 535px;}
#realtime .part4 #multimedia {width:950px;margin:50px 0 0 -475px;}

#realtime .part5 {margin:-515px 0 0 0; }
#realtime .part5 p{color:white; font-size:18px; text-indent:-20px; line-height:20px; margin-left:-480px;width:400px;}
#realtime .part5 p.bold{margin:-9px 0 0 -450px;width:400px;}


/****************
* FLASH
****************/
#flash .part1 h2{font-size:90px; color:black; line-height:80px; margin:10px 0 20px 0;}
#flash .part1 .subtitle{border-top:solid black 1px; border-bottom:solid black 1px; padding:10px; width:605px; font-size:16px;}
#flash .part1 .subtitle span{color:red;}
#flash .part1 .caption {margin-top:-20px; font-size:20px; text-indent:40px;}
#flash .part1 img {margin-top:-20px;}
#flash .part1 #feu{margin:-250px 0 0 500px; width:200px;}
#flash .part1 #semiocast{width:500px;}

#flash .part2 .twitter{height:560px;}
#flash .part2 ul{margin:-380px 0 0 20px; width:170px; list-style:none; }
#flash .part2 li{color:black; padding-bottom:26px;}

#flash .part3 p{width:150px; margin:-350px 0 0 -125px;color:white;}
#flash .part3 img{margin:200px 0 0 -150px;}

#flash .part4 img{margin-left:-470px; height:560px;}
#flash .part4 ul{margin:-485px 0 0 -290px; list-style:none;}
#flash .part4 li{color:black; padding:100px 0 0 0;}
#flash .part4 #li2 {margin: -10px 0 0 80px;}
#flash .part4 #li3 {margin: -15px 0 0 170px;}
#flash .part4 #li4 {margin: -15px 0 0 260px;}

/***************
* DEVICES
****************/

#devices .part1 .structure {margin: -390px 30px 0 0; height:1170px;}

#devices .part2 {margin:0px 0 0 -4590px;}
#devices .part2 h2 {font-size:80px; color:black; line-height:70px; margin: 5px 0 5px 0;}
#devices .part2 p {color:white; margin:0px 0 40px 10px; font-size:20px;}
#devices .part2 .handList {list-style:none; margin:5px 0 0 180px;}
#devices .part2 .handList li{color:white; font-size:15px; margin:0 0 28px 0 ; }
#devices .part2 .exigences {list-style:none; margin-top:60px;}
#devices .part2 .exigences li {color:black; font-size:10px;}

#devices .part3 {margin:50px 0 0 -3000px;  width:700px;}
#devices .part3 h2 { font-size:40px; color:#FF0000; margin-bottom:30px;}
#devices .part3 p {color:white; font-size:30px; line-height:40px;}

#devices .part4 {margin:290px 0 0 -1940px;}
#devices .part4 .daily {margin-top:150px;}

#devices .part5 {margin:130px 0 0 -510px;}
#devices .part5 .internaute{list-style:none; margin:0 0 0 -285px;}
#devices .part5 .internaute li{color:white;}
#devices .part5 .pourcentage{list-style:none; margin:238px 0 0 300px;}
#devices .part5 .pourcentage li{color:black; padding-bottom:25px;}
/***************
* BLOG
****************/



/***************
* FILTER
****************/

#filter .part1 {width:1760px; background: url('../images/5filtre/ligne-pointille.png') no-repeat bottom; padding-bottom:10px; }
#filter .part1 h2{font-size:90px; color:black; line-height:80px; margin:10px 0 -10px 0;}
#filter .part1 h3{font-size:150px; margin:150px 0 0px 0; padding-bottom:20px; width:240px; color:black;}
#filter .part1 p {margin:-100px 0 0 150px; font-size:18px; line-height:25px;}
#filter .part1 #bubble{margin:-150px 0 0 -260px;}
#filter .part1 img#people{margin:-50px 0 10px 0; width:1700px;}
#filter .part1 img#plus {margin:10px 0 0 150px; width:50px;}

#filter .part2 {margin-left:-1160px;}
#filter .part2 p.justify {width:250px; background:black; color:white; margin:110px 0 0 135px; font-size:14px;}
#filter .part2 span{color:#00BFFF;}
#filter .part2 img#hoaxbuster {margin:100px 0 0 -100px;}
#filter .part2 img#fleches{width:400px; margin:15px 0 0 -150px;}
#filter .part2 #hbLogo {font-size:30px; background:none; color:black; margin:-40px 0 0 -10px;}

#filter .part3 {width:300px; margin-left:-600px;}
#filter .part3 p{width:450px;font-size:18px; margin:-150px 0 0 -100px;}
#filter .part3 #logoSnopes {width:300px; margin:50px 0 0 -100px;}
#filter .part3 #plus {margin:-50px 0 0 325px;}
#filter .part3 #pdf {margin:15px 0 0 225px; width:100px;}
#filter .part3 #infobesite {width:580px;margin:0px 0 0 -320px;}
#filter .part3 h2 span {font-size:200px;}


#filter .part4 {width:1050px; margin-left:0px;}
#filter .part4 #main {margin:0 -200px -105px -167px; width:400px;}
#filter .part4 img#paper_li {margin:-320px 0 0 200px; width:600px;}
#filter .part4 img#plus {margin:-100px 0 0 750px; width:auto;}
#filter .part4 img#perso {width:1230px; margin:50px 0 0 -386px;}
#filter .part4 img#ombre{width:1280px; margin:-60px 0 0 -465px;}
#filter .part4 p.justify{margin:30px 0 0 180px; width:530px; font-size:18px;}
#filter .part4 p.italic{width:1168px; color:white; background:#00BFFF; padding:20px; font-size:20px; margin: 0 0 0 -375px;}

#filter .part5 {width:350px; margin:-25px 0 0 -200px;}
#filter .part5 p{margin-top:55px; background:black; color:white;}
#filter .part5 .pulse { padding:5px 10px;}
#filter .part5 .flipboard {padding:30px 10px;}
#filter .part5 .newsMe {padding:30px 10px;}
#filter .part5  p img{float:left; margin-right:10px; width:100px; padding:10px;}
#filter .part5  .pulse img{margin-top:8px; padding:2px; background:white;}
#filter .part5  .flipboard img{margin-top:-17px; padding:2px; background:white;}
#filter .part5  .newsMe img {margin-top:-17px; padding:2px; background:white;}

#filter .part6 {margin:-500px 0 0 2995px; float:left;}
#filter .part6 img#fin {height:400px;}
#filter .part6 img#globe{width:300px; margin:-20px 0 30px 0;}
#filter .part6 img#vs{width:60px;margin:-20px 0 0 -280px;}
#filter .part6 img#eclair{width:50px; margin:20px 0 0 160px;}
#filter .part6 img#pointilles{width:280px; margin:0px 0 0 25px;}
#filter .part6 p { padding:30px; width:280px; font-size:18px;}










