/****************
* COMMONS
*****************/
div.clear {clear:both;}
.justify {text-align: justify;}
.center {text-align: center;}
.right {text-align: right;}
.bold {font-weight:bold;}
.noBold{font-weight:normal;}
.upperCase{text-transform:uppercase;}
.italic{font-style:italic;}

/****************
* REALTIME
*****************/

#realtime {}
#realtime .part1 h2 {font-size:50px; text-transform: uppercase; color:#FFA500; line-height:50px;}
#realtime .part1 h2 span {text-transform: uppercase; color:black;}
#realtime .part1 h3 {font-size:100px; margin-top:50px; color:black;}
#realtime .part1 p {font-size:23px; margin-top:35px; line-height:30px;}

#realtime .part2 div h4{font-size:30px; margin-top:50px;}
#realtime .part2 div h3{font-size:80px; margin-bottom:20px;margin-top:-50px; background:none; padding:0; border:none;}
#realtime .part2 div p{background:none; padding:0; border:none; color:black; margin:0;}
#realtime .justify {width:250px;}

#realtime .part2 h2{background:black; color:white; padding:0; margin-top:180px;}
#realtime .part2 h3{background:black; color:white; padding:0; color:#FFA500; margin-left:-15px; border-top:1px solid white; padding:5px 0;}
#realtime .part2 p{background:black; color:white; margin-left:-55px; padding:15px; border-top:1px solid white;}

/****************
* FLASH
****************/
#flash #part1 h2{font-size:90px; color:black; line-height:80px; margin:10px 0 20px 0;}
#flash #part1 .subtitle{border-top:solid black 1px; border-bottom:solid black 1px; padding:10px; width:605px; font-size:16px;}
#flash #part1 .subtitle span{color:red;}
#flash #part1 .caption {margin-top:-20px; font-size:20px; text-indent:40px;}
#flash #part1 img {margin-top:-20px;}
#flash #part1 #feu{margin:-250px 0 0 500px; width:150px;}
#flash #part1 #semiocast{width:500px;}

#flash #part2 .twitter{height:560px;}
#flash #part2 ul{margin:-380px 0 0 20px; width:170px; list-style:none; }
#flash #part2 li{color:black; padding-bottom:26px;}

#flash #part3 p{width:150px; margin:-350px 0 0 -125px;color:white;}
#flash #part3 img{margin:200px 0 0 -150px;}

#flash #part4 img{margin-left:-470px; height:560px;}
#flash #part4 ul{margin:-485px 0 0 -290px; list-style:none;}
#flash #part4 li{color:black; padding:100px 0 0 0;}
#flash #part4 #li2 {margin: -10px 0 0 80px;}
#flash #part4 #li3 {margin: -15px 0 0 170px;}
#flash #part4 #li4 {margin: -15px 0 0 260px;}
/***************
* FILTER
****************/


#filter #part1 {width:1760px; background: url('../images/5filtre/ligne-pointille.png') no-repeat bottom; padding-bottom:10px; }
#filter #part1 h2{font-size:90px; color:black; line-height:80px; margin:10px 0 50px 0;}
#filter #part1 h3{font-size:150px; margin:80px 0 0 0; padding-bottom:20px; width:240px; color:black;}
#filter #part1 p {margin:30px 0 0 150px; font-size:18px; line-height:25px;}
#filter #part1 img#people{margin:-50px 0 0 0; width:1700px;}
#filter #part1 img#plus {margin:10px 0 0 150px;}

#filter #part2 {margin-left:-1000px;}
#filter #part2 p.justify {width:250px; background:black; color:white; margin:110px 0 0 135px; font-size:14px;}
#filter #part2 span{color:#00BFFF;}
#filter #part2 img#hoaxbuster {margin:100px 0 0 -100px;}
#filter #part2 img#fleches{width:400px; margin:15px 0 0 -150px;}
#filter #part2 #hbLogo {font-size:30px; background:none; color:black; margin:-40px 0 0 -10px;}

#filter #part3 {width:300px; margin-left:-50px;}
#filter #part3 p{width:450px;font-size:18px; margin:-250px 0 0 -100px;}
#filter #part3 #logoSnopes {width:300px; margin:50px 0 0 -100px;}
#filter #part3 #plus {margin:-50px 0 0 325px;}
#filter #part3 #pdf {margin:15px 0 0 225px; width:100px;}
#filter #part3 h2 {font-size:150px; color:black; font-weight:bold; text-indent:150px; line-height:150px; margin:-10px 0 0 -310px;}
#filter #part3 h2 span {font-size:200px;}


#filter #part4 {width:1050px;}
#filter #part4 h2{font-size:100px; color:#00BFFF; line-height:100px; margin:50px 0 0 0;}
#filter #part4 h2 span {color:black;}
#filter #part4 img {margin:75px 0 0 500px; width:400px;}
#filter #part4 img#plus {margin:-100px 0 0 800px; width:auto;}
#filter #part4 p.justify{margin-left:250px; width:530px; font-size:18px;}
#filter #part4 p.italic{color:white;background:#00BFFF; padding:10px 10px; font-size:20px;}

#filter #part5 {width:350px; margin-top:-25px;}
#filter #part5 p{margin-top:55px; background:black; color:white;}
#filter #part5 .pulse { padding:5px 10px;}
#filter #part5 .flipboard {padding:30px 10px;}
#filter #part5 .newsMe {padding:30px 10px;}
#filter #part5  p img{float:left; margin-right:10px; width:100px; padding:10px;}
#filter #part5  .pulse img{margin-top:8px; padding:2px; background:white;}
#filter #part5  .flipboard img{margin-top:-17px; padding:2px; background:white;}
#filter #part5  .newsMe img {margin-top:-17px; padding:2px; background:white;}

#filter #part6 p {margin:-300px 0 0 1500px; padding:30px; width:280px; font-size:18px;}










