/****************
* COMMONS
*****************/
div.clear {clear:both;}
.justify {text-align: justify;}
.center {text-align: center;}
.right {text-align: right;}
.bold {font-weight:bold;}
.noBold{font-weight:normal;}
.upperCase{text-transform:uppercase;}
.italic{font-style:italic;}

/****************
* REALTIME
*****************/

#realtime {}
#realtime .part1 h2 {font-size:50px; text-transform: uppercase; color:#FFA500; line-height:50px;}
#realtime .part1 h2 span {text-transform: uppercase; color:black;}
#realtime .part1 h3 {font-size:100px; margin-top:50px; color:black;}
#realtime .part1 p {font-size:23px; margin-top:35px; line-height:30px;}

#realtime .part2 div h4{font-size:30px; margin-top:50px;}
#realtime .part2 div h3{font-size:80px; margin-bottom:20px;margin-top:-50px; background:none; padding:0; border:none;}
#realtime .part2 div p{background:none; padding:0; border:none; color:black; margin:0;}
#realtime .justify {width:250px;}

#realtime .part2 h2{background:black; color:white; padding:0; margin-top:180px;}
#realtime .part2 h3{background:black; color:white; padding:0; color:#FFA500; margin-left:-15px; border-top:1px solid white; padding:5px 0;}
#realtime .part2 p{background:black; color:white; margin-left:-55px; padding:15px; border-top:1px solid white;}

/***************
* FILTER
****************/

#filter #part1 {width:1200px; background:url(../images/5filtre/bubble.png) no-repeat;}
#filter #part1 h2{font-size:90px; color:black; line-height:80px; margin:10px 0 50px 0; }
#filter #part1 h3{font-size:150px; margin:80px 0 0 0; padding-bottom:20px; width:240px; color:black;}
#filter #part1 p {margin:30px 0 0 150px; font-size:18px; line-height:25px;}
#filter #part1 img#people{margin:-50px 0 0 0; width:1700px;}
#filter #part1 img#plus {margin:10px 0 0 150px;}

#filter #part2 {margin-left:-600px;}
#filter #part2 p.justify {width:250px; background:black; color:white; margin:110px 0 0 135px; font-size:14px;}
#filter #part2 span{color:#00BFFF;}
#filter #part2 img {margin:100px 0 0 -100px;}
#filter #part2 #hbLogo {font-size:30px; background:none; color:black; margin:-40px 0 0 -10px;}

#filter #part3 {width:300px;}
#filter #part3 #logoSnopes {width:150px;}
#filter #part3 h2 {font-size:150px; color:black; font-weight:bold; text-indent:150px; line-height:150px; margin:60px 0 0 -310px;}
#filter #part3 h2 span {font-size:200px;}


#filter #part4 {width:550px;}
#filter #part4 h2{font-size:50px; color:#00BFFF; line-height:50px; margin:50px 0 0 0;}
#filter #part4 h2 span {color:black;}
#filter #part4 img {margin:75px 0 0 100px; width:200px;}
#filter #part4 p.justify{margin-left:100px; width:390px;}
#filter #part4 p.italic{color:white;background:#00BFFF; padding:5px 10px; font-size:10px;}

#filter #part5 {width:350px; margin-top:-100px;}
#filter #part5 p{margin-top:75px; background:black; color:white;}
#filter #part5 .pulse { padding:5px 10px;}
#filter #part5 .flipboard {padding:30px 10px;}
#filter #part5 .newsMe {padding:30px 10px;}
#filter #part5  p img{float:left; margin-right:10px; width:100px; padding:10px;}
#filter #part5  .pulse img{margin-top:8px; padding:2px; background:white;}
#filter #part5  .flipboard img{margin-top:-17px; padding:2px; background:white;}
#filter #part5  .newsMe img {margin-top:-17px; padding:2px; background:white;}

#filter #part6 {margin-top:100px; padding:30px;}


/****************
* DEVICES
****************/
#devices h1, h2.revolution{font-size:50px; line-height:50px;}
#devices h2.revolution span {color:red;}
#devices .blackBg{background:black; color:white; font-style:italic;}
#devices .handList{list-style:none; text-align:center;}
#devices .handList li{background:black; color:white; margin:5px 0;}
#devices .number4 h3{font-size:160px; color:black; margin-top:50px;}
#devices .exigences h4{font-size:40px; color:black;}
#devices .exigences ul{list-style:none; color:black;}
#devices .exigences li{color:black; font-size:10px;}
#devices #part2 h3{font-size:160px; color:black;margin:50px 0;}
#devices h2.journaux{font-size:50px; color:white; background:black; padding:30px 40px 20px 40px; text-align:center;}
#devices h2.baisse{font-size:50px; color:red; background:black; padding:20px 40px 20px 40px; text-align:center;}
#devices .tropChers{font-size:15px; color:white; background:black; padding:20px 40px 20px 40px; text-align:center;}
#devices #part3 h3{font-size:100px; color:black; margin:30px 0 0 -75px;}
#devices #part3 h3 span{font-size:25px; color:black; margin-top:-40px; width:20px;}
#devices #part3 h3 span span{font-size:15px; color:black;}
#devices #part3 h4{font-size:38px; color:black; margin:0 0 0 -75px;}
#devices #part4 {text-align:center; font-size:10px;}
#devices #part4 h2 {font-size:30px; color:black; margin-bottom:20px;}
#devices #part6 ul {list-style:none; text-align:center; background:black;}
#devices #part6 li {color:white;}
#devices #part6 span {font-size:20px;}
#devices #part6 div h2{font-size:70px;}
#devices #part6 div p{font-size:17px; margin-top:10px;}
#devices #part6 div ul{text-align:left; background:none;}
#devices #part6 div li {color:black;}
#devices #part6 h4{text-align:center; margin-bottom:0; color:#00FFFF; background:black;}
#devices #part6 h3{text-align:center; margin-top:-10px; color:#00FFFF;background:black;}







